@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Pretendard';
    src:
      url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff2')
        format('woff2'),
      url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff2')
        format('woff2'),
      url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff2')
        format('woff2'),
      url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff2')
        format('woff2');
    font-weight: 400 800;
    font-style: normal;
  }

  html {
    font-family: 'Pretendard-Regular';
  }
}

@layer components {
  .brand-main-button {
    @apply cursor-pointer rounded-md border border-brand-main bg-brand-main py-[10px] font-bold text-brand-white;
  }

  .brand-sub-button {
    @apply cursor-pointer rounded-md border border-brand-black bg-brand-white py-[10px] font-bold text-brand-black;
  }

  .brand-confirm-button {
    @apply cursor-pointer rounded-md border border-brand-sub bg-brand-sub py-[10px] font-bold text-brand-white;
  }

  .brand-main-input {
    @apply rounded-md border border-brand-gray-4 px-[12px] py-[10px] text-[16px] placeholder:text-sm;
  }

  .brand-main-input-error {
    @apply border-brand-red-1 rounded-md border px-[12px] py-[10px] text-[16px] placeholder:text-sm;
  }

  .brand-main-input:focus {
    @apply outline-2 outline-brand-sub;
  }

  .page-title {
    @apply text-[1.5rem] font-bold;
  }

  .response-page-padding {
    padding: 0 24px;
    width: 100%;
    margin: 0 auto;

    @media (min-width: 768px) {
      padding: 0 24px 80px;
      width: 90%;
    }
  }

  .responsive-post-width {
    width: 25%;

    @media (min-width: 1600px) {
      width: 20%;
    }

    @media (min-width: 769px) and (max-width: 991px) {
      width: 33.3%;
    }

    @media (min-width: 431px) and (max-width: 768px) {
      width: 50%;
    }

    @media (max-width: 430px) {
      width: 100%;
    }
  }
}
